.product-card {
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    }
    
    .product-image {
    width: 100%;
    border-radius: 10px;
    }
    
    .product-name {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    }
    
    .product-price {
    font-size: 16px;
    color: rgb(0, 0, 0);
    }
    
    .product-colors p,
    .product-size p {
    margin: 5px 0;
    font-size: 14px;
    color: gray;
    }
    
    .color-options {
    display: flex;
    justify-content: center;
    gap: 8px;
    }
    
    .color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .color-circle.selected {
    border: 2px solid black;
  }
  
  .size-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
  }
  
  .size-selector button {
    border: none;
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    }

    .add-to-cart {
    background-color: #00c0ff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    }